.form-modal {
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.show-graph-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 1000px;
}

.hide-graph-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 750px;
}
